# Node dependencies
node_modules/
**/node_modules/

# Additional commonly ignored files
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
.next/

# Caches
.cache/
cache/
cache/webpack/client-development/

# Env
.env
